* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.3;
  overflow: hidden;
}

.page-wrapper .box-container {
  width: 100vw;
  height: 100vh;
}

.row {
  display: flex;
  height: 50%;
}

.box,
.time-box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25%;
  height: 100%;
  color: white;
  border: 2px solid #3A8F8A;
}

.box .content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 70%;
}

.time-box .content {
  justify-content: center;
}


.time-box .settings {
  position: absolute;
  top: 5px;
  left: 10px;
  padding: 10px;
  color: #E6E2CD;
}

.time-box .settings i:hover {
  cursor: pointer;
}

.time-box .settings > i {
  margin-bottom: 1rem;
  color: lightcoral;
  font-size: 10px;
}

/* .search {
  display: flex;
  align-items: center;
}

.search > i {
  margin-right: 5px;
  font-size: 14px;
}

.search > i + input {
  width: 0%;
  height: 20px;
  border: none;
  border-radius: 5px;
  transition: all 0.5s linear;
}

.search > i:hover + input,
.search > input:hover,
.search > input:focus {
  width: 100%;
  padding: 10px;
} */

.time-box .date {
  font-size: 2.5rem;
}

.time-box {
  position: relative;
  width: 25%;
  background: #DE4666;
}

.chart-container {
  width: 75%;
  padding: 10px;
  background:#f3f3f3;
}

#chart {
  background: #eee;
}

.box-1 {
  background: #984f7A;
}

.box-2 {
  background: #397286;
}

.box-3 {
  background: #984B3A;
}

.box-4 {
  background: #44456D;
}

.box-5 {
  background: #A87477;
}

.box-6 {
  background: #C79D96;
}

.box-7 {
  background: #232A42;
}

.stock-name {
  color: lightgrey;
  font-size: 2rem;
  font-weight: 100;
  cursor: pointer;
}

.current-price {
  font-size: 3rem;
  letter-spacing: 2px;
}

.current-price > img {
  width: 50px;
  height: 50px;
}

.change.up {
  color: lightskyblue;
}

.change.down {
  color: darkred;
}

/* Media queries */
@media (max-width: 1100px){
  .time-box {
    width: 100%;
    height: 10%;
  }

  .time-box .settings {
    position: absolute;
    top: 5px;
    left: 10px;
    padding: 0;
  }

  .date {
    display: flex;
  }
  
  .date h5,
  .date h2 {
    margin: 0 10px;
    font-size: 1rem;
    text-align: center;
  }
  
  .chart-container {
    width: 100%;
    height: 90%;
  }

  .row-1 {
    flex-direction: column;
    height: 50vh;
  }
  
  .row-2 {
    flex-direction: row;
    flex-wrap: wrap;
    height: 50vh;
  }

  .box {
    width: calc(100% / 2);
    height: 50%;
  }

  .stock-name {
    font-size: 1rem;
  }
  
  .current-price {
    font-size: 2rem;
  }
}

@media (max-width: 400px){
  .date h5,
  .date h2 {
    font-size: 0.8rem;
  }

  .box {
    font-size: 0.6rem;
  }
}